{% extends "layouts/base.njk" %} {% block content %}
    <!-- Home Section -->
    <section class="page-section bg-dark light-content" id="home">
        <div class="container relative text-center">

            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h1 class="hs-line-4 mb-30 mb-xs-20 wow fadeInUpShort" data-wow-delay=".1s">
                        <span class="d-inline-block bg-gray-dark round px-3 pb-1">{{ photos.galleryName }}</span>
                    </h1>
                </div>
            </div>

        </div>
    </section>
    <!-- End Home Section -->
    <section class="page-section bg-dark light-content">
        <div class="full-wrapper relative">

            <!-- Works Filter -->
            <div class="works-filter text-center">
                <a href="#" class="filter active" role="button" aria-pressed="true" data-filter="*">All works</a>
                <a href="#birds" class="filter" role="button" aria-pressed="false"
                   data-filter=".birds">Birds</a>
                <a href="#anglesey-abbey-dahlias" class="filter" role="button" aria-pressed="false" data-filter=".anglesey-abbey-dahlias">Dahlias</a>
            </div>
            <!-- End Works Filter -->

            <!-- Works Grid -->
            <ul class="works-grid work-grid-3 work-grid-gut clearfix hover-white" id="work-grid">

                {%- for gal in photos.photos %}

                    <!-- Work Item (Lightbox) -->
                    <li class="work-item mix {{ gal.tag }}">
                        <a href="{{ gal.link }}" class="work-lightbox-link mfp-image">
                            <div class="work-img">
                                <div class="work-img-bg"></div>
                                <img height="461px" src="{{ gal.link }}?nf_resize=fit&h=461" data-original="{{ gal.link }}"
                                     alt="Work Description" class="img-lazy-work"/>
                            </div>
                            <div class="work-intro">
                                <h3 class="work-title">{{ gal.title }}</h3>
                                <div class="work-descr">
                                    {{ gal.description }}
                                </div>
                            </div>
                        </a>
                    </li>


                {% endfor %}

            </ul>
            <!-- End Works Grid -->

        </div>
    </section>
    <!-- End Portfolio Section -->
{% endblock %}
