{% extends "layouts/base.njk" %} {% block content %}
    <!-- Home Section -->
{% set galleryBackgroundImage=photos.photos | galleryHeaders | random %}
    <section class="small-section bg-dark-alfa-50 bg-scroll light-content" data-background="" id="home" style="background-image: url({{ galleryBackgroundImage}});">
        <div class="container relative">

            <div class="row">

                <div class="col-md-8">
                    <div class="wow fadeInUpShort animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUpShort;">
                        <h1 class="hs-line-7 mb-20 mb-xs-10">{{ photos.galleryName }}</h1>
                    </div>
                    <div class="wow fadeInUpShort animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUpShort;">
                        <p class="hs-line-6 opacity-075 mb-20 mb-xs-0">

                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    {% set tags=photos.photos | galleryTags %}
    <!-- End Home Section -->
    <section class="page-section bg-dark light-content">
        <div class="full-wrapper relative">

            <!-- Works Filter -->
            <div class="works-filter text-center">
                <a href="#" class="filter active" role="button" aria-pressed="true" data-filter="*">All photos</a>
                {%- for tag in tags %}

                  <a href="#{{ tag }}" class="filter" role="button" aria-pressed="false"
                   data-filter=".{{ tag }}">{{ tag | replace("-", " ") }}</a>
                {% endfor %}
            </div>
            <!-- End Works Filter -->

            <!-- Works Grid -->
            <ul class="works-grid work-grid-3 masonry work-grid-gut clearfix hover-white" id="work-grid">

                {%- for gal in photos.photos %}

                    <!-- Work Item (Lightbox) -->
                    <li class="work-item mix {{ gal.tag }}">
                        <a href="{{ gal.link }}" class="work-lightbox-link mfp-image">
                            <div class="work-img">
                                <div class="work-img-bg"></div>
                                <img  width="461px" height="{{ gal.thumbHeight }}px" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" data-original="{{ gal.thumbLink }}"
                                     alt="Work Description" class="img-lazy-work"/>
                            </div>
                            <div class="work-intro">
                                <h3 class="work-title">{{ gal.title }}</h3>
                                <div class="work-descr">
                                    {{ gal.description }}
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}

            </ul>
            <!-- End Works Grid -->

        </div>
    </section>
    <!-- End Portfolio Section -->
{% endblock %}
