{% extends "layouts/base.html" %} {% block content %}
<!-- Home Section -->
<div class="relative bg-dark light-content" id="home">
  <!-- Fullwidth Slider -->
  <div class="fullwidth-gallery-wrapper">
    <div class="fullwidth-gallery">
      <!-- Slide Item -->
      <div
        class="home-section bg-scroll "
        data-background="images/full-width-images/butterfly.jpg"
      >
        <div class="min-height-100vh"></div>
      </div>
      <!-- End Slide Item -->

      <!-- Slide Item -->
      <div
        class="home-section bg-scroll "
        data-background="images/full-width-images/goldfinch.jpg"
      >
        <div class="min-height-100vh"></div>
      </div>
      <!-- End Slide Item -->

      <!-- Slide Item -->
      <div
        class="home-section bg-scroll "
        data-background="images/full-width-images/harrishawk.jpg"
      >
        <div class="min-height-100vh"></div>
      </div>
      <!-- End Slide Item -->
    </div>
  </div>
  <!-- End Fullwidth Slider -->

  <div class="fullwidth-galley-content">
    <div
      class="container min-height-100vh d-flex align-items-center pt-100 pb-100"
    >
      </div>
      <!-- End Hero Content -->
    </div>
  </div>
</div>
<!-- End Home Section -->
{% endblock %}
