{% extends "layouts/base.html" %} {% block content %}
<!-- Home Section -->
<div class="relative bg-dark light-content" id="home">
  <!-- Fullwidth Slider -->
  <div class="">
    <div class="fullwidth-gallery">
      <!-- Slide Item -->
      <div
        class="home-section bg-scroll "
        data-background="images/full-width-images/butterfly.webp"
      >
        <div class="min-height-100vh"></div>
      </div>
      <!-- End Slide Item -->

      <!-- Slide Item -->
      <div
        class="home-section bg-scroll"
        data-background="images/full-width-images/goldfinch.webp"

      >
        <div class="min-height-100vh"></div>
      </div>
      <!-- End Slide Item -->

      <!-- Slide Item -->
      <div
        class="home-section bg-scroll"
        data-background="images/full-width-images/harrishawk.webp"
      >
        <div class="min-height-100vh"></div>
      </div>
      <!-- End Slide Item -->
    </div>
  </div>
  <!-- End Fullwidth Slider -->


<!-- End Home Section -->
{% endblock %}
